@import '../../../common/styles/styles.scss';

.header {    
    background-color: $violet;

    .content {
        @include container;
        align-items: center;
    }
    
    .basket {
        justify-self: end;
    }
}
