.form {
    max-width: 420px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 30px 35px;

    .title {
        text-align: center;
    }
    .btnBlock {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }    
    
    .signUpLink {       
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;        
    }
    .rememberMe {
        display: flex;
        flex-direction: column;
    }
    .restorePasswordLink {
        text-decoration: none;
        align-self: flex-end;
    }
}
