@import '../../../styles/styles.scss';

.header {    
    @include block-shadow;
    background-color: var(--header-bg);
    margin-bottom: 1rem;
    
    svg {
        fill: var(--font-color);
    }

    .content {
        @include container;
        align-items: center;
    }
    
    .basket {
        justify-self: end;
    }
}
